@charset "UTF-8";

/* あとで消す */
/*
#goods .coming_soon {
	padding: 0;
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
}
#goods .coming_soon {
	padding: 0;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 300px;
	position: relative;
}
#goods .coming_soon span {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
*/
#goods h2 {
	text-indent: -9999px;
	margin-bottom: 0 !important;
}
.frame {
	padding-top: calc(100vw * 27/375);
}
.page_wrap.wrap_contents .contents_box {
	line-height: 1.8;
	padding: 0.6em 0;
}
#goods .item_list_flex {
	gap: 2rem 1rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	display: grid;
}
#goods .item_name {
	font-weight: bold;
	margin-top: 10px !important;
	line-height: 1.4;
}
#goods .memo,
#goods .attention,
.item_data .memo {
	font-size: 0.8em;
	line-height: 1.6;
}
#goods .attention {
	color: #F996AD;
	font-weight: bold;
	margin-top: 5px !important;
}
#goods .pointer-events {
	pointer-events:none;
}
#goods .item_image {
	border: 1px solid #f1e2e6;
	padding: 1em !important;
}
.remodal-close:before {
	font-size: 40px !important;
}
.remodal-close {
	z-index: 2;
}
.remodal {
	padding: 0 !important;
}
.swiper-slide {
	padding-top: 32px;
}
.swiper-slide .image {
	max-width: 320px;
}
.slide {
	position: relative;
}
.item_data {
	margin: 1em 1em 2em;
}
.item_data .item_name {
	font-size: 1.2em;
	font-weight: bold;
}
.swiper-pagination-bullet {
	border-radius: 0 !important;
	background: #F995AD !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	transform: rotate(-45deg);
}
.swiper-wrapper {
	height: 360px !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
   color: #F995AD !important;
}
.memo.pink {
	background: #EC5A5E;
	color: #fff;
	font-size: 10px !important;
	margin-bottom: 5px;
	padding: 2px 5px;
	line-height: 3 !important;
}
#goods .memo.attention_memo {
	width: 100%;
	margin: 2em 0 0 1.5em !important;
}


/* --------------------------------------
   　PC style	
-------------------------------------- */
@media screen and (min-width: 960px) {
	#goods .item_list_flex {
		gap: 2rem 3rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		display: grid;
	}
	.remodal {
		padding: 0 !important;
		max-width: 470px !important;
	}
	.remodal-wrapper {
		padding: 0 !important;
		width: 470px !important;
		margin: auto !important;
	}
	.swiper-slide .image {
		width: 99%;
	}
	.swiper-wrapper {
		height: 44% !important;
	}
/*
	#goods .coming_soon {
		padding: 0;
		font-size: 2em;
		text-align: center;
		font-weight: bold;
	}
	#goods h2 {
		text-indent: -9999px;
	}
*/
}	
   
   
   
   
   